define service {
    use                    standard-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Perfdata_Transmit__Task__Trigger
    check_command          trigger_task!phim_onsite.transmit.tx_perfdata
    }

define service {
    use                    standard-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__State_Transmit__Task__Trigger
    check_command          trigger_task!phim_onsite.transmit.tx_state
    }

define service {
    use                    less-often-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Version_Discovery_Transmit__Task__Trigger
    check_command          trigger_task!phim_onsite.transmit.tx_version_discovery
    }

define service {
    use                    less-often-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__PCM_Discovery_Transmit__Task__Trigger
    check_command          trigger_task!phim_onsite.transmit.tx_pcm_discovery
    }

define service {
    use                    less-often-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Discovery__Task__Trigger
    check_command          trigger_task_split_status!Administrative__Philips__Discovery__Task__Status!phim_onsite.transmit.tx_trinity_discovery
    }

define service {
    use                    less-often-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Distribution__Task__Trigger
    check_command          trigger_task_split_status!Administrative__Philips__Distribution__Task__Status!phim_onsite.operate.psmith
    }

define service {
    use                    passive-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Deployment__Task__Trigger
    check_command          trigger_task_split_status!Administrative__Philips__Deployment__Task__Status!phim_onsite.operate.merovingian
    }

define service {
    use                    passive-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Distribution__Task__Status
    }

define service {
    use                    passive-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Deployment__Task__Status
    }

define service {
    use                    passive-service
    host_name              {{ neb_name }}
    service_description    Administrative__Philips__Discovery__Task__Status
    }

