[global]
index-url = {{pypi_index}}
use-mirrors = false
trusted-host = {{pypi_server_address}}
# seems like using custom build dir prevents cleanup after build, which in turn creates failures on updates
# commenting out for now
# build = {{pip_build_dir}}
{{pip_timeout_line}}
