version: '2'
services:
 {{ redis_container_name }}:
  image: {{ docker_registry_prefix }}{{ redis_image_name }}
  container_name: {{ redis_container_name }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ rabbitmq_container_name }}:
  image: {{ docker_registry_prefix }}{{ rabbitmq_image_name }}
  container_name: {{ rabbitmq_container_name }}
  volumes_from:
    - {{ poller_container_name }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ celery_container_name }}:
  image: {{ docker_registry_prefix }}{{ celery_image_name }}
  container_name: {{ celery_container_name }}
  volumes:
    - {{ docker_location }}/celery/celeryconfig.py:/usr/lib/celery/celeryconfig.py
    - {{ docker_location }}/celery/tbconfig.py:/usr/lib/celery/tbconfig.py
    - {{ docker_location }}/celery/isp.py:/usr/lib/python2.6/site-packages/scanline/product/isp.py
    - /etc/siteid:/etc/siteid
    - /usr/lib/celery
    - /usr/lib64/python2.6
    - /usr/lib/python2.6/site-packages
  volumes_from:
    - {{ shinkenconfiguration_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ shinkenconfiguration_container_name }}:
  image: {{ docker_registry_prefix }}{{ shinkenconfiguration_image_name }}
  container_name: {{ shinkenconfiguration_container_name }}
  volumes:
    - {{ docker_location }}/shinkencfg/philips:/etc/philips
    - /var/philips/version
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ npcd_container_name }}:
  image: {{ docker_registry_prefix }}{{ npcd_image_name }}
  container_name: {{ npcd_container_name }}
  volumes:
    - /var/spool/pnp4nagios
    - /var/log/pnp4nagios
    - /var/lib/pnp4nagios
    - /etc/pnp4nagios
    - /usr/libexec
    - /usr/share/nagios/html/pnp4nagios
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ scheduler_container_name }}:
  image: {{ docker_registry_prefix }}{{ scheduler_image_name }}
  container_name: {{ scheduler_container_name }}
  volumes_from:
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ reactionner_container_name }}:
  image: {{ docker_registry_prefix }}{{ reactionner_image_name }}
  container_name: {{ reactionner_container_name }}
  volumes_from:
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ broker_container_name }}:
  image: {{ docker_registry_prefix }}{{ broker_image_name }}
  container_name: {{ broker_container_name }}
  volumes_from:
    - {{ npcd_container_name }}
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
    - {{ thruk_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ receiver_container_name }}:
  image: {{ docker_registry_prefix }}{{ receiver_image_name }}
  container_name: {{ receiver_container_name }}
  volumes_from:
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ poller_container_name }}:
  image: {{ docker_registry_prefix }}{{ poller_image_name }}
  container_name: {{ poller_container_name }}
  volumes:
    - /etc/siteid:/etc/siteid
    - /usr/lib64/nagios
  volumes_from:
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ arbiter_container_name }}:
  image: {{ docker_registry_prefix }}{{ arbiter_image_name }}
  container_name: {{ arbiter_container_name }}
  volumes_from:
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ thruk_container_name }}:
  image: {{ docker_registry_prefix }}{{ thruk_image_name }}
  container_name: {{ thruk_container_name }}
  volumes:
    - {{ docker_location }}/thruk/thruk_local.conf:/etc/thruk/thruk_local.conf
    - /usr/share/thruk
    - /etc/thruk
  volumes_from:
    - {{ poller_container_name }}
    - {{ shinkenconfiguration_container_name }}
    - {{ celery_container_name }}
    - {{ npcd_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ php_container_name }}:
  image: {{ docker_registry_prefix }}{{ php_image_name }}
  container_name: {{ php_container_name }}
  volumes:
    - {{ docker_location }}/php/config.php:/etc/pnp4nagios/config.php
  volumes_from:
    - {{ npcd_container_name }}
  extra_hosts:
{{ extra_hosts }}
  network_mode: "{{ neb_docker_network_name }}"

 {{ nginx_container_name }}:
  image: {{ docker_registry_prefix }}{{ nginx_image_name }}
  container_name: {{ nginx_container_name }}
  volumes:
    - {{ docker_location }}/nginx/onsite.conf:/etc/nginx/conf.d/default_server_includes/onsite.conf
    - {{ docker_location }}/nginx/philipsversion.conf:/etc/nginx/conf.d/default_server_includes/philipsversion.conf
    - /var/www/philips/docker/nginx/pnp4nagios.conf:/etc/nginx/conf.d/default_server_includes/pnp4nagios.conf
    - /var/www/philips/docker/nginx/thruk.conf:/etc/nginx/conf.d/default_server_includes/thruk.conf
    - /var/www/philips/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    - /var/www/philips/docker/nginx/proxy.conf:/etc/nginx/conf.d/proxy.conf
    - /etc/siteid:/etc/siteid
  volumes_from:
    - {{ thruk_container_name }}
    - {{ npcd_container_name }}
    - {{ shinkenconfiguration_container_name }}
  extra_hosts:
{{ extra_hosts }}
  ports:
   - "9090:80"
  network_mode: "{{ neb_docker_network_name }}"

