location /pnp4nagios {
    alias /usr/share/nagios/html/pnp4nagios;
    index index.php;
    try_files $uri $uri/ @pnp4nagios;
}

location @pnp4nagios {
    root /usr/share/nagios/html/pnp4nagios;

    if ($uri !~ /pnp4nagios/index.php(.*)) {
        rewrite ^/pnp4nagios/(.*)$ /pnp4nagios/index.php/$1;
        break;
    }

    fastcgi_pass {{ php_container_name }}:9000;
    fastcgi_index index.php;
    include fastcgi_params;
    # this splits out the trailing path
    # eg index.php?host -> $fastcgi_path_info == 'host'
    fastcgi_split_path_info ^(.+\.php)(.*)$;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_param SCRIPT_FILENAME $document_root/index.php;
}

