location = /thruk {
    return 301 http://$host/thruk/;
}
location /nagios {
    return 301 http://$host/thruk/;
}
location /thruk/documentation.html {
     alias /usr/share/thruk/root/thruk/documentation.html;
}
location /thruk/startup.html {
}
location ~ ^/thruk/plugins/(.*?)/(.*)$ {
     alias /etc/thruk/plugins/plugins-enabled/$1/root/$2;
}
location /thruk/themes/ {
     alias /etc/thruk/themes/themes-enabled/;
}
location @thruk {
    uwsgi_pass       {{ thruk_container_name }}:4040;
    uwsgi_param      REMOTE_USER $remote_user;
    uwsgi_modifier1  5;
    include uwsgi_params;
}
location /thruk/ {
    auth_basic              "Monitoring Access";
    auth_basic_user_file    /etc/thruk/htpasswd;
    root /usr/share/thruk/root;
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    try_files $uri @thruk;
}

