127.0.0.1  localhost   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for host in groups['vignodes'] %}
{{ hostvars[host]['ansible_default_ipv4']['address'] }}  {{ hostvars[host]['ansible_fqdn'] }}  {{ hostvars[host]['ansible_hostname'] }}
{% endfor %}
{{repo_address}}  repo.phim.isyntax.net
{{phirepo_address}}  phirepo.phim.isyntax.net
{{ntp_address}}  ntp.phim.isyntax.net
{{sc_address}}  sc.phim.isyntax.net
{{pypi_address}}  pypi.phim.isyntax.net
{{sb_address}}  sb.phim.isyntax.net
{{mongo_address}}  mongo.phim.isyntax.net
{{redis_address}}  redis.phim.isyntax.net
{{el_address}}  el.phim.isyntax.net
{{smtp_address}}  smtp.phim.isyntax.net
{{api_address}}  api.phim.isyntax.net
