---

{% if isp_endpoints is defined %}
    {%- for endpoint in isp_endpoints %}
        {#- The "if" is to get the append to run, "do" extension may not be available #}
        {%- if endpoints.append({'address': endpoint, 'tags': ['production'], 'scanner': 'ISP', 'username': isp_username, 'password': isp_password, 'domain': '.'.join(fqdn.split('.')[1:])}) %}{% endif %}
    {%- endfor %}
{% endif %}
{{ endpoints | to_nice_yaml }}
